*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(238,220,234);
    background: radial-gradient(circle, rgba(238,220,234,1) 7%, rgba(223,111,197,1) 36%, rgba(116,30,176,1) 59%, rgba(78,12,101,1) 74%, rgba(21,3,27,1) 90%);
    text-align: center;
    color: rgb(235, 204, 229);
    font-family: serif;
    font-weight: bold;
}

#bruja{
    margin-top: 4%;
    width: 28%;
}
button{
    color: aliceblue;
    margin-top: 2%;
    padding: 0.5%;
    font-size: x-large;
    width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: hidden;
    border-radius: 83px;
    background: #55226d;
    box-shadow: inset 20px 20px 9px #31143f,
                inset -20px -20px 9px #79309b;
}

h2{
    margin-top: 2%;
    font-size: xx-large;
    font-weight: bolder;
}